
.banner_container{
  margin-top: 150px;
}
.banner_container h2{
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.banner_container h3{
  text-align: center;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 0px;
}