.slider_container {
  margin: 0 auto;
  width: 375px;
}

.single_slide{
  width: 100%;
}

@media screen and (min-width: 900px) {
  .slider_container {
    width: 500px;
  }
  .slide_img{
    width: 500px;
    height: 500px;
  }
}