.slider_container {
  margin: 0 auto;
  width: 330px;
}

.single_slide{
  width: 100%;
}

@media screen and (min-width: 900px) {
  .slider_container {
    width: 330px;
  }
  .slide_img{
    width: 330px;
    height: 330px;
  }
}