.add_product_container{
<<<<<<< HEAD
  margin-top: 0px;
=======
  margin-top: 130px;
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-bottom: 0px;
}

.admin_product{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.image_group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_detail_info{
  margin: 0 auto;
  margin-top: 20px;
}

.admin_product .image_group h2, .admin_product .form_detail_info h2{
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
=======
  margin-bottom: 100px;
}

.delivery_form{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  max-width: 500px;
}
.delivery_form .contact, .delivery_form .delivery {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
.have_account {
  font-weight: 300;
  letter-spacing: 2px;
}
.have_account span{
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 5px;
}

.groups{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.group{
  display: flex;
  flex-direction: column;
  width: 48%;
}

<<<<<<< HEAD
.group_stock{
  display: flex;
  flex-direction: column;
  width: 24%;
}

=======
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
.groups .group input{
  width: 100%;
}

.form_group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add_product, .edit_product {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}
.add_button, .edit_button{
  cursor: pointer;
  border: solid 1px white;
  padding: 5px 10px;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .add_product_container{
    flex-direction: row;
  }
<<<<<<< HEAD

  .admin_product{
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
  }
  .image_group{
    width: 50%;
  }
  
  .form_detail_info{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
  }
=======
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
}
