
.header_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  margin-bottom: 100px;
  background-color: black;
  color: white;
  z-index: 99;
}
.header{
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
  height: 77px;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  z-index: 99;
}

.left_header{
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 30px;
}

.left_header .user_icon{
  cursor: pointer;
  min-width: 30px;
  margin-bottom: 8px;
  margin-left: 10px;
  transition: color 0.4s ease;
}

.left_header ul {
  display: none;
}

.middle_block{
  margin: 100px;
  width: 10%;
}

.right_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  font-size: 30px;
}

<<<<<<< HEAD
.right_header .admin{
  font-size: 20px;
=======
.right_header .cart_icon{
  margin-right: 5px;
  cursor: pointer;
  min-width: 30px;
  transition: color 0.4s ease;
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
}

.right_header ul {
  display: none;
}

.logo {
<<<<<<< HEAD
  cursor: pointer;
=======
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 70px; 
  bottom: 0;
  border-radius: 50%;
  opacity: 0.9;
  z-index: 99;
}


@media screen and (min-width: 500px) {
  .header{
    padding: 0 20px;
  }
}

@media screen and (min-width: 840px) {

  .header{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 7vw;
    height: 77px;
    position: fixed;
  }


  .left_header ul {
    display: flex;
    font-size: 18px;
  }
  
  .left_header ul li {
    cursor: pointer;
    margin-left: 30px;
    transition: color 0.4s ease;
  }
<<<<<<< HEAD
  .left_header ul li:hover, .user_icon:hover{
=======
  .left_header ul li:hover, .user_icon:hover, .cart_icon:hover{
>>>>>>> f9f2c2662b8b9a89429ca188bb31e14d50709656
    color: #e72076;
  }

  .right_header {
    justify-content: space-between;
  }


  .right_header ul {
    display: flex;
    font-size: 18px;
  }
  
  .right_header ul li {
    cursor: pointer;
    margin-right: 30px;
    transition: color 0.4s ease;
  }
  
  .right_header ul li:hover{
    color: #e72076;
  }

  .left_header .user_icon{
    margin-bottom: 0;
  }

  .right_header .hamburger{
    display: none;
  }

}