.checkout_container{
  display: flex;
  flex-direction: column;
}

.checkout_forms{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .checkout_container{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .checkout_forms{
    width: 70%;
    border-right: 1px solid white;
    margin-right: 30%;
  }
  
}
